<div style="background: orange; min-height: 50px">
  <h3 style="color: white; text-align: center;">Product Management</h3>
</div>
<nav style="margin-top: 40px">
  <a routerLink="/getData" style="padding: 10px; margin-left: 35px" class="btn btn-warning" routerLinkActive="active">Product List</a>
  <a routerLink="/addData" style="padding: 10px; margin: 5px" class="btn btn-warning" routerLinkActive="active">Add Product</a>
  <a routerLink="/deleteData" style="padding: 10px; margin: 5px" class="btn btn-warning" routerLinkActive="active">Delete Product</a>
  <a routerLink="/editData" style="padding: 10px; margin: 5px" class="btn btn-warning" routerLinkActive="active">Update Product</a>
</nav>
<app-get-chart></app-get-chart>
<router-outlet></router-outlet>
